.HeroImage-contenedor {
    width: 100vw;
    background-image: url("https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1699472929056-R6KDN8SAAXSJBT45V866/io2bg.jpg?format=2500w");
    background-size: cover;
    margin-bottom: 10rem;
}

.HeroImage-imagen {
    width: 100%;
}