.Slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 2rem;
}

.Slider-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    height: 30rem;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Slider-image {
    width: 50%;
}