.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: invert();
}

.Header-image {
    width: 50%;
    filter: invert();
}

.DigimonsPerdidos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem 2rem;
    background-color: rgb(245, 245, 245);
}

.DigimonsPerdidos-Tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid black;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
}



.DigimonsPerdidos-Info {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.DigimonsPerdidos-Info h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.DigimonsPerdidos-Info p {
    font-size: 0.7rem;
}