.Footer {
    display: flex;
    flex-flow: column wrap;
}

.Footer-ul-rrss {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.Footer-li-nav {
    width: 40%;
}
